@page "/"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Components.Web
@inject IJSRuntime JS

<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<h3>電卓</h3>

<div class="calculatorContainer" tabindex="0" @ref="captureArea" @onkeydown="HandleKeyInput">

	<!-- 表示エリア：計算式と結果 -->
	<div class="display-header">
		<span class="formula-label">計算式: @CalculatorFormula()</span>
		<span class="result-label">@ans</span>
	</div>

	<br><br><br>

	<!-- 上段：削除ボタン -->
	<!-- 上段: 貼り付け コピー 全削除 削除 -->
	<div class="rowContainer">
		<button class="btn btn-primary customButton" @onclick="() => PasteContent()">張る</button>
		<button class="btn btn-primary customButton" @onclick="() => CopyContent()">コピー</button>
		<button class="btn btn-primary customButton" @onclick="() => CalculatorStart()">全削除</button>
		<button class="btn btn-primary customButton" @onclick='() => CalculatorDel()'>削除</button>
	</div>

	<!-- 中段: 1 2 3 ＋ -->
	<div class="rowContainer">
		<button class="btn btn-primary customButton" @onclick="() => CalculatorCount(1)">1</button>
		<button class="btn btn-primary customButton" @onclick="() => CalculatorCount(2)">2</button>
		<button class="btn btn-primary customButton" @onclick="() => CalculatorCount(3)">3</button>
		<button class="btn btn-primary customButton" @onclick='() => CalculatorOpe("+")'>＋</button>
	</div>
	<!-- 中段: 4 5 6 - -->
	<div class="rowContainer">
		<button class="btn btn-primary customButton" @onclick="() => CalculatorCount(4)">4</button>
		<button class="btn btn-primary customButton" @onclick="() => CalculatorCount(5)">5</button>
		<button class="btn btn-primary customButton" @onclick="() => CalculatorCount(6)">6</button>
		<button class="btn btn-primary customButton" @onclick='() => CalculatorOpe("-")'>-</button>
	</div>
	<!-- 中段: 7 8 9 * -->
	<div class="rowContainer">
		<button class="btn btn-primary customButton" @onclick="() => CalculatorCount(7)">7</button>
		<button class="btn btn-primary customButton" @onclick="() => CalculatorCount(8)">8</button>
		<button class="btn btn-primary customButton" @onclick="() => CalculatorCount(9)">9</button>
		<button class="btn btn-primary customButton" @onclick='() => CalculatorOpe("*")'>*</button>
	</div>
	<!-- 下段: 0 実行 + ー -->
	<div class="rowContainer">
		<button class="btn btn-primary customButton" @onclick="()=>CalculatorCount(0)">0</button>
		<button class="btn btn-primary customButton" @onclick='() => DecimalPoint()'>.</button>
		<button class="btn btn-primary customButton" @onclick="CalculatorCal">実行</button>
		<button class='btn btn-primary customButton' @onclick='() => CalculatorOpe("/")'>/</button>
	</div>
</div>



@code {
	private string[] num = { "", "" };  //入力値
	private string[] sign = { "", "" }; //符号
	private int index = 0;              //左辺:0 右辺:1
	private string ans = "結果：";     //結果
	private string ope = "";            //演算子

	private ElementReference captureArea;   // ElementReferenceでフォーカス対象をキャプチャ

	//クリップボードの内容を貼り付け
	private async Task PasteContent()
	{
		string paste;
		//クリップボードの内容を取得
		paste = await JS.InvokeAsync<string>("pasteFromClipboard");
		//内容が数式を含まない、数字のみの場合はそのまま代入
		if (float.TryParse(paste, out float value3))
		{
			num[0] = paste;
			num[1] = "";
			ope = "";
			return;
		}

		string[] opeIndex = { "+", "-", "*", "/" };

		//各演算子が含まれる式なのかを１つずつ確認
		for (int i = 0; i < 4; i++)
		{
			int indexpaste = paste.LastIndexOf(opeIndex[i]);
			//含まれている場合の処理
			if (indexpaste != -1)
			{
				string str1, str2, str3;
				str1 = paste.Substring(0, indexpaste);
				str2 = paste.Substring(indexpaste, 1);
				//貼り付け内容のチェック
				if (float.TryParse(str1, out float value1))
				{
					num[0] = str1;
					num[1] = "";
					ope = str2;
					index = 1;
					//右辺があるかチェック
					if (paste.Length > indexpaste)
					{
						str3 = paste.Substring(indexpaste + 1, paste.Length - (indexpaste + 1));
						if (float.TryParse(str3, out float value2))
						{
							num[1] = str3;
						}
					}
					return;
				}
			}
		}
	}

	//クリップボードに答えをコピー
	private async Task CopyContent()
	{
		//答えがない場合はスキップ
		if (ans == "結果：") { return; }
		string ansNum = ans.Substring(3, ans.Length - 3);
		// Clipboard APIを使って入力内容をコピー
		await JS.InvokeVoidAsync("navigator.clipboard.writeText", ansNum);
	}

	// キーボード入力を処理するイベントハンドラ
	private void HandleKeyInput(KeyboardEventArgs e)
	{
		// キーが数字かどうかを判断
		if (int.TryParse(e.Key, out int value))
		{
			CalculatorCount(value);
		}
		else if (e.Key == "+" || e.Key == "-" || e.Key == "*" || e.Key == "/")
		{
			CalculatorOpe(e.Key);
		}
		else if (e.Key == ".")
		{
			DecimalPoint();
		}
		else if (e.Key == "=" || e.Key == "Enter")
		{
			CalculatorCal();
		}
		else if (e.Key == "Backspace")
		{
			CalculatorDel();
		}
	}

	// コンポーネントが初回レンダリング後にこのコンテナにフォーカスを与える
	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			// フォーカスを当てるためにJavaScript互換で処理
			await captureArea.FocusAsync();
		}
	}

	//数式をリセットする
	private void CalculatorStart()
	{
		index = 0;
		num[0] = "";
		num[1] = "";
		sign[0] = "";
		sign[1] = "";
		ans = "結果：";
		ope = "";
	}

	//数値を加える
	private void CalculatorCount(int value)
	{
		if (num[index] == "")
		{
			num[index] = value.ToString();
		}
		else if (!CheckOverFlor((double.Parse(num[index]) * 10) + (double)value))
		{
			num[index] += value.ToString();
		}
	}

	//数値を消す
	private void CalculatorDel()
	{
		if (index == 0)
		{
			if (num[index].Length > 0) { num[index] = num[index].Remove(num[index].Length - 1); }
			else { sign[index] = ""; }
		}
		else if (index == 1)
		{
			if (num[1].Length == 0)
			{
				if (sign[index] == "-")
				{
					sign[index] = "";
				}
				else
				{
					ope = "";
					index = 0;
				}
			}
			else
			{
				if (num[1].Length > 0) { num[1] = num[1].Remove(num[1].Length - 1); }
			}
		}
	}

	//演算子を追加
	private void CalculatorOpe(string str)
	{
		if (num[0] == "" && str == "-")         //左辺にマイナスを付ける
		{
			sign[0] = "-";
		}
		else if (num[0] != "" && ope == "") //演算子をセット
		{
			ope = str;
			index = 1;
		}
		else if (num[1] == "" && ope != "-" && str == "-")    //右辺にマイナスを付ける
		{
			sign[1] = "-";
		}
		else if (ans != "結果：")              //計算結果を元に計算
		{
			num[0] = ans.Replace("結果：", "");
			num[1] = "";
			sign[1] = "";
			ope = str;
		}
	}

	//マイナス演算子の処理
	private void CalculatorMinus()
	{
		if (num[0] == "")
		{
			sign[0] = "-";
		}
		else if (ope == "")
		{
			ope = "-";
			index = 1;
		}
		else if (num[1] == "" && ope != "-")
		{
			sign[1] = "-";
		}
	}

	//小数点
	private void DecimalPoint()
	{
		if (num[index].IndexOf(".") == -1)
		{
			if (num[index] == "")
			{
				num[index] = "0.";
			}
			else
			{
				num[index] += ".";
			}
		}
	}

	//実行ボタン
	private void CalculatorCal()
	{
		//式が未完成だったらスキップ
		if (num[1] == "") { return; }

		//指定されている演算子ごとに、オーバーフローチェックをして結果を代入。
		if (ope == "+")
		{
			if (CheckOverFlor(double.Parse(num[0]) + double.Parse(num[1]))) { ans = "結果：計算範囲外です。"; }
			else { ans = "結果：" + (float.Parse(sign[0] + num[0]) + float.Parse(sign[1] + num[1])).ToString(); }
		}
		else if (ope == "-")
		{
			if (CheckOverFlor(double.Parse(num[0]) - double.Parse(num[1]))) { ans = "結果：計算範囲外です。"; }
			else { ans = "結果：" + (float.Parse(sign[0] + num[0]) - float.Parse(sign[1] + num[1])).ToString(); }
		}
		else if (ope == "*")
		{
			if (CheckOverFlor(double.Parse(num[0]) * double.Parse(num[1]))) { ans = "結果：計算範囲外です。"; }
			else { ans = "結果：" + (float.Parse(sign[0] + num[0]) * float.Parse(sign[1] + num[1])).ToString(); }
		}
		else if (ope == "/")
		{
			if (float.Parse(num[1]) == 0) { ans = "0で割ることは出来ません。"; } //0除算禁止
			else if (CheckOverFlor(double.Parse(num[0]) / double.Parse(num[1]))) { ans = "結果：計算範囲外です。"; }
			else { ans = "結果：" + (float.Parse(sign[0] + num[0]) / float.Parse(sign[1] + num[1])).ToString(); }
		}
	}

	//式表示
	private string CalculatorFormula()
	{
		//if (ans == "結果：")
		//{
		string formula = "";
		formula += sign[0];
		formula += num[0];
		formula += ope;
		formula += sign[1];
		formula += num[1];
		return formula;
	}

	//オーバーフローチェック
	private bool CheckOverFlor(double number)
	{
		//オーバーフローならtrue、範囲内ならfalse
		if (number >= float.MinValue && number <= float.MaxValue) { return false; }
		else { return true; }
	}
}
